body {
  font-size:105%;
  font-family: "STSong", sans-serif;
}

p {
				font-size:1em;
				color: #555;
				line-height: 150%;
				
			}

a { 
			   color: darkred; 
			  }
			  
a:active {
			   color: gray;
			   }

.sidenav {
  height: 100%;
  width: 18%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eee;
  overflow-x: hidden;
  padding-top: 2%;
}

.sidenav a {

  padding: 2% 2% 4% 2%;
  text-decoration: ;
  color: black;
  display: block;
  font-size:1em;
}

.sidenav a:hover {
  color: gray;
}

main {
				float: left;
				width: 100%;
			}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 2%;}
  .sidenav a {font-size: 1em;}
}

#content {
				margin-left: 18%; /* Same as 'nav' width */
			}
			
.innertube{
				margin-left: 4.5%; margin-right: 4.5%; /* Padding for content */
				margin-bottom: 2.5%;
			}

			
#indexfig {
				margin-left: 18%; /* 'nav' width is 230px*/
				margin-right: 0%; 
				margin-top: 3.5%;
			}
.mainimg {
	            position: relative;
	            margin-bottom: 8%;
	            img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
				}
#nav {
			
			}
			
nav ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			
nav li {
				list-style-type: none;
				margin-top: 5%;
				
				padding: 0;
			}
			
nav ul a {
				color: black;
				text-decoration: ;
			}
			


#new {
	
}

/*日付(dt)、記事(dd)共通設定*/
#new dt {
	float: left;
	padding: 0.45% 0;
}
#new dd {
	overflow: hidden;
	margin-left: 180px;
	padding: 0.45% 0;		/*上下、左右へのボックス内の余白*/
}

