.menu1,
.menu2 {
  width: 100%;
  line-height: 22px;
  text-align: left;
  position: relative;
  overflow: hidden;
  margin: 12px 0;
}

.menu1 {
  height: 22px;
}

.menu2 {
  height: 44px;
}

.menu1:hover,
.menu2:hover {
  overflow: visible;
  color: black;
  z-index: 999;
  cursor: pointer;
}

.drop {
  background: white;
  text-align: left;
  width: 160px;
  height: 40px;
  line-height: 30px;
  overflow: hidden;
  padding-left: 13px;
  font-size: 70%;
}

.drop:hover {
  background: #171717;
  cursor: pointer;
}

.contentgap {
  margin: 15px 0;
}

th,
td {
  padding: 10px 60px 10px 30px;
}
